In [12]:
import pandas as pd
import numpy as np
import os
import requests
import json
from datetime import datetime
import zipfile
import chardet

In [13]:
# Create a list with all files in the folder using list comprehension
folderpath = r"/Users/renubalaji/Documents/GitHubProjects/Bike_rental_2018"
filepaths = [os.path.join(folderpath, name) for name in os.listdir(folderpath)]

In [14]:
df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)

In [15]:
(pd.read_csv(f) for f in filepaths)

In [16]:
# Initialize an empty list to store DataFrames
dfs = []

# Loop through each file, read it, and append to the list
for file_path in filepaths:
    try:
        # Read the CSV file with specified encoding and low_memory=False
        df = pd.read_csv(file_path, encoding='ISO-8859-1', low_memory=False)  # Adjust encoding as necessary
        dfs.append(df)  # Append the DataFrame to the list
    except UnicodeDecodeError as e:
        print(f"Error reading {file_path}: {e}")

# Concatenate all DataFrames into one using pd.concat
combined_df = pd.concat(dfs, ignore_index=True)

# Check the combined DataFrame
print(combined_df.head())

# Save the combined DataFrame to a CSV file in the same folder as the data
combined_df.to_csv(r'/Users/renubalaji/Documents/GitHubProjects/Bike_rental_2018/combined_file.csv', index=False)

      trip_id           start_time             end_time  bikeid tripduration  \
0  17536702.0  2018-01-01 00:12:00  2018-01-01 00:17:23  3304.0        323.0
1  17536703.0  2018-01-01 00:41:35  2018-01-01 00:47:52  5367.0        377.0
2  17536704.0  2018-01-01 00:44:46  2018-01-01 01:33:10  4599.0      2,904.0
3  17536705.0  2018-01-01 00:53:10  2018-01-01 01:05:37  2302.0        747.0
4  17536706.0  2018-01-01 00:53:37  2018-01-01 00:56:40  3696.0        183.0

   from_station_id            from_station_name  to_station_id  \
0             69.0       Damen Ave & Pierce Ave          159.0
1            253.0  Winthrop Ave & Lawrence Ave          325.0
2             98.0   LaSalle St & Washington St          509.0
3            125.0         Rush St & Hubbard St          364.0
4            129.0    Blue Island Ave & 18th St          205.0

                  to_station_name    usertype gender  birthyear date  avgTemp
0       Claremont Ave & Hirsch St  Subscriber   Male     1988.0  NaN      NaN
1  Clark St & Winnemac Ave (Temp)  Subscriber   Male     1984.0  NaN      NaN
2             Troy St & North Ave  Subscriber   Male     1989.0  NaN      NaN
3            Larrabee St & Oak St  Subscriber   Male     1983.0  NaN      NaN
4            Paulina St & 18th St  Subscriber   Male     1989.0  NaN      NaN

In [17]:
weather_data = pd.read_csv(r'/Users/renubalaji/Documents/GitHubProjects/Bike_rental/Avg_Temps.csv')
combined_data = pd.read_csv(r'/Users/renubalaji/Documents/GitHubProjects/Bike_rental_2018/combined_files.csv')

In [24]:
merged_data = pd.merge(combined_data, weather_data, on='date', how='left')
merged_data.to_csv(r'/Users/renubalaji/Documents/GitHubProjects/Bike_rental_2018/merged_data.csv')

In [28]:
# 3. Ensure both DataFrames have a 'date' column. Extract date from datetime in CitiBike data if necessary.
# Assuming there is a datetime column in citibike_df named 'start_time' (adjust to your actual column name)
combined_data['date'] = pd.to_datetime(combined_data['start_time']).dt.date

# Similarly, ensure the 'date' column in weather data is in the correct format (assuming it's already a date)
weather_data['date'] = pd.to_datetime(weather_data['date']).dt.date  # Adjust if 'date' column exists

# 4. Merge the two DataFrames on the 'date' column
merged_df = pd.merge(combined_data, weather_data, on='date', how='left')  # Use 'left' join to keep all CitiBike data

# 5. Save the merged data to a new CSV file
merged_df.to_csv('/Users/renubalaji/Documents/GitHubProjects/Bike_rental_2018/merged_data_new.csv', index=False)

print("Merge complete and saved to 'merged_citibike_weather.csv'")

Merge complete and saved to 'merged_citibike_weather.csv'

In [30]:
merged_data_new = pd.read_csv(r'/Users/renubalaji/Documents/GitHubProjects/Bike_rental_2018/merged_data_new.csv')

In [36]:
avg_temp_df = merged_data_new[['date', 'avgTemp']]

In [38]:
# Get the 'date' field from all average temperature readings
data_temp = avg_temp_df['date'].tolist()  # Extract the 'date' column and convert it to a list

# Optionally, print the first few dates to verify
print(data_temp[:5])

['2018-01-01', '2018-01-01', '2018-01-01', '2018-01-01', '2018-01-01']

In [39]:
# Put the results in a dataframe

data_temp = pd.DataFrame()

In [50]:
# Extract the average temperature readings
temperature_data = data_temp['avgTemp'].tolist()

In [51]:
# Put the results in a dataframe

df_temps = pd.DataFrame()

In [56]:
# Correct: Extract the 'avgTemp' column from avg_temp_df, not data_temp
temperature_data = avg_temp_df['avgTemp'].tolist()

# Put the results in a new DataFrame (if needed)
df_temps = pd.DataFrame({'date': avg_temp_df['date'], 'avgTemp': temperature_data})

# Display the first few rows to verify
print(df_temps.head())

         date  avgTemp
0  2018-01-01    -18.9
1  2018-01-01    -18.9
2  2018-01-01    -18.9
3  2018-01-01    -18.9
4  2018-01-01    -18.9

In [59]:
df_temps.tail()

              date  avgTemp
449375  2018-12-04     -0.8
449376  2018-12-04     -0.8
449377  2018-12-04     -0.8
449378  2018-12-04     -0.8
449379  2018-12-04     -0.8

In [60]:
df_temps.head()

         date  avgTemp
0  2018-01-01    -18.9
1  2018-01-01    -18.9
2  2018-01-01    -18.9
3  2018-01-01    -18.9
4  2018-01-01    -18.9

In [62]:
# Check the column names in the DataFrame
print(df.columns)

Index(['date', 'avgTemp'], dtype='object')